footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 1.25rem;
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
  padding-bottom: 2.5rem;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border: solid 1px black;
  width: 10rem;
  border-radius: 1.8rem;
  padding: 0.4rem;
  transition: background-color 0.5s ease, color 0.5s ease;
}

img {
  width: 15%;
}

footer div:hover {
  background-color: black;
}
